.inof-access-hover
  .info-access-hover__wrap
    .d-flex.justify-content-between.border-bottom
      .flex-row
        p.txt.mb-2 Standard
      .flex-row
        p.txt.mb-2 14 из 23
    .d-flex.justify-content-between.border-bottom.mt-2
      .flex-row
        p.txt.mb-2 Standard Plus возобнавяемая
        p.txt.mb-2 До 13.09.18
      .flex-row
        p.txt 81 из 456
    .d-flex.justify-content-between.border-bottom.mt-2
      .flex-row
        p.txt.mb-2 Premium
      .flex-row
        p.txt.mb-2 10 из 128
    .d-flex.justify-content-between.border-bottom.mt-2
      .flex-row
        p.txt.mb-2 Анонимная
      .flex-row
        p.txt.mb-2 10 из 13
    ul.info-access-items-wrap.m-0.pl-3.mt-3
      li.info-access-item
        p.txt.txt--blue Подробнее о публикациях
      li.info-access-item
        p.txt.txt--blue Купить публикации от 249 грн