.menu.bgc-white-grey
	.menu__wrap
		.d-flex.menu__inner
			.menu-icon.icon.icon-star.icon--red
			ul.menu-items
				+menu-avatar('9B192636', 'Carolyn Campbell')
				+menu-avatar('9B192632', 'Jennifer Carpenter')
				+menu-avatar('9B192631', 'Jeffrey Walters')
				+menu-avatar('9B19263E', 'Beverly Harris')
				.divider.divider__wrap
		.d-flex.menu__inner
			.menu-icon.letter.txt--red A
			ul.menu-items
				+menu-avatar('9B192630', 'Brittany Delgado')
				+menu-avatar('6AA2859B', 'Wayne Ray')
				+menu-avatar('9B192633', 'Rachel Ross')
				+menu-avatar('6AA2859D', 'Bruce Morales')
				+menu-avatar('9B192637', 'Evelyn Morales')
				+menu-avatar('6AA2859F', 'Marie Fuller')
				.divider.divider__wrap
		.d-flex.menu__inner
			.menu-icon.letter.txt--red B
			ul.menu-items
				+menu-avatar('6AA28585', 'Gregory Burton')
				+menu-avatar('6AA2859C', 'Beverly Armstrong')
				.divider.divider__wrap