aside.menu.bgc-white-grey.window-transition#menu
	.pl-3.pb-3
		.d-flex.menu__inner
			.menu-icon.icon.icon-star.icon--red.mt-2
			ul.ul-list-reset.w-100
				+menu-avatar('9B192636', 'Carolyn Campbell')
				+menu-avatar('9B192632', 'Jennifer Carpenter')
				+menu-avatar('9B192631', 'Jeffrey Walters')
				+menu-avatar('9B19263E', 'Beverly Harris')
				.divider.mt-2
		.d-flex.menu__inner
			.menu-icon.letter.txt--red.mt-2 A
			ul.ul-list-reset.w-100
				+menu-avatar('9B192630', 'Brittany Delgado')
				+menu-avatar('6AA2859B', 'Wayne Ray')
				+menu-avatar('9B192633', 'Rachel Ross')
				+menu-avatar('6AA2859D', 'Bruce Morales')
				+menu-avatar('9B192637', 'Evelyn Morales')
				+menu-avatar('6AA2859F', 'Marie Fuller')
				.divider.mt-2
		.d-flex.menu__inner
			.menu-icon.letter.txt--red.mt-2 B
			ul.ul-list-reset.w-100
				+menu-avatar('6AA28585', 'Gregory Burton')
				+menu-avatar('6AA2859C', 'Beverly Armstrong')
				.divider.mt-2