.header
  .header-md.d-none.d-sm-none.d-md-block
    .container
      .row
        .col-md-2
          .logo-wrap.nav-hover-bottom-line
            include ../../../assets/svg/Logo.svg
            .logo-txt__bottom
              p.logo-txt.text-uppercase Для роботодавців
        .col-md-10
          .nav-wrap.text-right
            a.txt.txt--rose.txt-arrow.arrow--right.arrow--rose.status-change-link__align Соискателю
            nav.nav.nav-link__wrap.justify-content-end
              a.nav-link.nav-hover-bottom-line(href="") Найти вакансии
              a.nav-link.nav-hover-bottom-line(href="") Добавить вакансию
              a.nav-link.nav-hover-bottom-line.txt--black(href="") Диван-кафе
  .header-sm.d-sm-block.d-md-none
    .container
      .row
        .col-2
          .logo-wrap-mobile.mt-3
            include ../../../assets/svg/Logo-mobile.svg
        .col-10
          .nav-mobile.nav.justify-content-end
            a.nav-link-mobile.nav-link-mobile__align(href="").d-flex.flex-column.align-items-center
              span.icon.icon-search
              span.nav-link-mobile-txt Вакансии
            a.nav-link-mobile.nav-link-mobile__align(href="").d-flex.flex-column.align-items-center
              span.icon.icon-add
              span.nav-link-mobile-txt Резюме
            a.nav-link-mobile.nav-link-mobile__align(href="").d-flex.flex-column.align-items-center
              span.icon.icon-lock
              span.nav-link-mobile-txt Войти
  .gradient-line.mt-3

