header.header.bgc-blue
	.header__nav-wrap.d-flex.align-items-bottom
		nav.header-nav.d-flex.justify-content-space-btwn
			.header-nav__item.d-flex.align-items-bottom
				button.btn.icon.icon-burger#btn-menu
				.header__drop-down
					+drop-down('Title', ['Items 1', 'Items 2', 'Items 3'])
			.header-nav__item
				button.btn.icon.icon-search.mr-3
				button.btn.icon.icon-triple-dots
	button.btn.btn-float.btn-float--red.btn-float--bottom-right.d-none.d-inline-block--md
		.icon.icon-plus

