.bgc-blue {
	background-color: $blue;
}

.bgc-white-grey {
	background-color: $white-grey;
}

.bgc-blue-layers {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../../assets/img/back-lines.jpg');
}