html,
body {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

a {
  cursor: pointer;
}

.bgc-silver {
  background-color: $silver-light;
}

.btn {
  font-weight: 600;
  &.btn-outline-primary {
    span.txt--blue {
      transition: color 0.4s ease-in;
    }
  }
  &.btn-outline-primary:hover {
    span.txt--blue {
      color: $white !important;
      &:after {
        border-color: $white;
      }
    }
  }
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 650ms cubic-bezier(1, 0.36, 0, 0.93), opacity 3s ease;
}

.toggle-content.is-visible {
  display: block;
  opacity: 1;
  height: auto;
}
