$white: #ffffff;
$rose: #e42469;
$rose-light: #eb4d86;
$blue: #009ff4;
$black: #000000;
$silver-light: #f4f5f6;
$silver: #6b7886;
$green: #74c241;

// icons icommon
$add-icon: "\e900";
$info-icon: "\e901";
$lock-icon: "\e902";
$search-icon: "\e903";
