.section-first-without-results.bgc-silver.border-bottom.border-danger
  .section-first__wrap
    .container
      .row.border-bottom.pb-5
        .col-12
          a(href="").text-decoration-none.txt.txt--blue.txt-arrow.arrow--left.arrow--blue.ml-3 Личный раздел
        .col-12
          h2.title-second.mt-4 Вакансии и отклики
            span.icon.icon--sm.icon-info.ml-2
          p.txt.txt--black.font-weight-bold У вас еще нет вакансий.
          p.txt.txt--black.pr-5 Чтобы начать активный поиск сотрудников, создайте ваши вакансии. Помните! Большинство соискателей не размещают резюме на сайте, а отправляют их прямо на найденные вакансии. Поэтому размещайте вакансии, и вы значительно увеличите шансы найти сотрудника.
          .d-flex.flex-wrap.align-items-center.flex-column.flex-sm-row
            .flex-row
              button.btn.btn-success Создать вакансию
            .flex-row.ml-0.ml-sm-5.mt-3.mt-sm-0
              a(href="").txt.info-access.txt--green.text-decoration-none В наличии
                span.border-bottom.border-success 1 публикация