.header {
  height: auto;
  width: 100%;
}

.logo-wrap {
  padding-top: 54px;
}

.nav-wrap {
  padding-top: 20px;
}

.nav-link__wrap {
  padding-top: 10px;
}

.logo-txt__bottom {
  padding-top: 9.9px;
  padding-left: 5px;
}

.status-change-link__align {
  margin-right: 30px;
}

.nav-link-mobile__align {
  padding: 15px 15px 0;
}

@import "./header-responsive";
