.menu {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	@include for-tablet-land-up {
		width: $menu-width;
	}
}

.menu__inner {
	padding: $menu-inner-padding;
}

.menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: background-color $hover-transition;
}

.menu-item:hover {
	background-color: $silver;
}

.menu__item {
	padding: $menu-item-padding;
}

.menu-icon {
	margin-right: $menu-icon-margin-right;
}