.section-first__wrap {
  padding: 40px 0 60px 0;
}

.info-access {
  display: inline-block;
  position: relative;
  &:hover {
    .inof-access-hover {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
}

.inof-access-hover {
  position: absolute;
  z-index: 1000;
  top: 30px;
  width: 375px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba($black, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translate(-20px, 0);
  transition: all 0.3s ease-out;
}

.info-access-hover__wrap {
  padding: 20px 24px 20px 26px;
}

.info-user-box-count__badge {
  position: relative;
  bottom: 10px;
  right: 11px;
}
