extends template/main

block variables
  -var title = 'Caspio test'

block content
  include ./modules/partials/menu
  main.main-content
    include ./modules/partials/profile
    include ./modules/section-first
