.footer
  .footer-wrap
    .container
      .row.border-bottom.align-items-center.py-4
        .col-12.col-md-9
          .change-language-wrap
            a.toggle.text-decoration-none.txt.txt--blue.txt-arrow.arrow--bottom-right.arrow--blue Русский
          .footer-link-resources
            a(href="").txt.txt--silver.text-decoration-none Ресурсы ·
            a(href="").txt.txt--silver.text-decoration-none Контакты ·
            a(href="").txt.txt--silver.text-decoration-none О нас ·
            a(href="").txt.txt--silver.text-decoration-none Новости сатйта ·
            a(href="").txt.txt--silver.text-decoration-none Условия использования ·
          p.txt.txt--silver © 2006–2016 Work.ua. Сайт поиска работы №1 в Украине.
        .col-12.col-md-3
          button.btn.btn-outline-primary
            span.txt.txt--blue.txt-arrow.arrow--right.arrow--blue.pr-3.font-weight-bold Соискателю
      .row.pt-4.pb-5
        .col-12.col-md-4
          p.txt.txt--black Сделано в компании «
            span.txt--rose Реактор
            | ».
        .col-12.col-md-8.text-left.text-md-right
          .footer-link-additional
            a(href="").txt.txt--silver.text-decoration-none Образование ·
            a(href="").txt.txt--silver.text-decoration-none Тренинги ·
            a(href="").txt.txt--silver.text-decoration-none Клавиатурный тренажер ·
            a(href="").txt.txt--silver.text-decoration-none Typing tutor ·