@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("../assets/fonts/#{$path}.eot");
    src: url("../assets/fonts/#{$path}.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/#{$path}.ttf") format("truetype"), url("../assets/fonts/#{$path}.svg") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-face-ttf($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("../assets/fonts/#{$path}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin txt-style($font-family, $font-size, $color: $black, $font-weight: 400) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
